/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #0d1232;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav img {
    max-width: 300px;
    border-radius: 5%;
}

.logo {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Playfair Display', sans-serif;
    flex:auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/auto1.jpg') no-repeat center center/cover;
    opacity: 0.9;
    z-index: -1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    background-color: #099b43;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.autos {
    padding: 50px 20px;
    text-align: center;
}

.autos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.auto {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auto img {
    width: 100%;
    border-radius: 10px;
}

.btn-ver {
    background-color: #099b43;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.autos {
	padding: 20px 20px;
    text-align: center;
	background-color:black;
	
}

.autos h2{
	color:rgb(2, 2, 2);
	padding:20px;
	font-size:2.3rem;
}

.autos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
	margin-bottom:30px;
}

.autos {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.autos img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.galeria {
    padding: 50px 20px;
    text-align: center;
	background-color:white;
}

.galeria h2{
	font-size:2.3rem;
	margin-top:-10px;
}

.galeria-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.galeria-grid {
    display: flex;
    animation: slide 20s linear infinite;
	gap:20px;
}

.galeria-img {
    width:300px;
	height:200px;
	object-fit:cover;
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.galeria-img:hover {
    transform: scale(1.05);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.contacto {
    padding: 50px 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form input{
	max-width:300px;
}

form input, form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-top: 40px;
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover{
    color: #ccc;
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .logo {
        font-size: 2rem;
        margin-left: 20px;
        margin-right: -25px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .persuasive-text h2 {
        font-size: 1.5rem;
    }

    .persuasive-text p {
        font-size: 1rem;
    }

    .proyectos-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .galeria-grid {
        animation: slide 30s linear infinite;
    }
}

@media (max-width: 480px) {
    .logo {

        font-size: 1.5rem;
    }
	
	nav img{
		width:80px;
	}

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }
   
    .persuasive-text h2 {
        font-size: 1.2rem;
    }

    .persuasive-text p {
        font-size: 0.9rem;
    }

    .proyectos-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .galeria-grid {
        animation: slide 40s linear infinite;
    }
}